.cont__unsplash {
    ul {
        column-count: 4;
        column-gap: 20px;
        width: 100%;

        li {
            margin-bottom: 20px;

            img {
                
            }
        }
    }
}

.unsplash__popular > h2 {
    color: var(--white);
    margin-bottom: 20px;
}
.unsplash__popular__box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
    img {
        width: 100%;
        margin-bottom: 10px;
    }
    .swiper-slide {
        width: 32%;
        margin-bottom: 50px;
    }
    li {
        width: 100%;
        margin: 1%;
        position: relative;
        border: 0;
        transition: transform 0.3s;
    
        &:hover {
            transform: scale(1.1);
        }

        h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 16px;
            font-family: var(--font-kor);
        }
    }
    .swiper-pagination-bullet {
        background-color: var(--white) !important;
    }
}